{% extends 'base.html.twig' %}

{% block title %}Liste des Calendriers{% endblock %}

{% block body %}




    <div align="center">

        <h1> Bienvenue sur notre site web Championnats du monde d'athlétisme</h1>


        <h2 align="justify"></h2>

        <h3 align="justify"> Les Championnats du monde d'athlétisme sont une compétition biennale en plein air organisée
            par la WA qui
            désigne un champion du monde pour chaque discipline majeure de l'athlétisme. Il s'agit du troisième plus
            grand événement sportif
            dans le monde après les Jeux olympiques et la Coupe du monde de football en termes de téléspectateurs et
            d'impact médiatique. À leur
            création en 1983, les championnats avaient lieu tous les quatre ans, ils ont lieu tous les deux ans depuis
            1991. Par ailleurs, les Championnats
            du monde d'athlétisme en salle et les Championnats du monde juniors sont disputés en alternance.
            Allyson Felix est l'athlète la plus titrée des championnats du monde, avec seize médailles, dont treize en
            or remportées entre 2005
            et 2019. Chez les hommes, le record appartient à Usain Bolt avec onze titres de 2009 à 2017, alors que le
            perchiste Sergueï Bubka est le
            seul champion du monde à avoir conservé un titre pendant six championnats consécutifs. </h3>

    </div>

    <style>
        .aut {
            align-content: center;
            background-color: cyan;
            border: 2px solid black;
            font-style: italic;
            font-weight: bold;
            text-shadow: 6px 6px 6px black;
            float: left;
            bottom: 0;

            width: 40%;
            height: 20%;
        }
    </style>
    <div class="aut">
        <h5> Auteurs du site </h5>

        <h1> Diakarou Sokhona</h1> <br/>

        <h1> Sow Ibrahima</h1>
    </div>
{% endblock %}
